.ipynb_checkpoints/
.DS_Store
.idea/
__pycache__/
UNOSAT-Ground-Truths.zip
ETCI-2021-Flood-Detection.zip
final-ETCI-2021-Flood-Detection.zip
pretrained_weights.tar.gz
data/
final-UNOSAT-Dataset/
final-UNOSAT-Dataset.zip
